# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
    Python
    R
    SQL
    C++

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    pandas
    tensorflow
    numpy
    matplotlib
    keras

In [ ]:
Data Science Tools:
    Jupyter notebook
    tabeau
    MATLAB

##Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:

In [ ]:
* Learning different langauge
* learning different tools
*learn touse different libraries

# Author:  Hamza Nadeem